In [1]:
#import pandas library for accessing csv files
import pandas as pd

In [2]:
dataset_1 = pd.read_csv("insurance_pre.csv")
dataset_1.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [3]:
dataset_1.shape

(1338, 6)

In [6]:
dataset = pd.get_dummies(dataset_1,drop_first = True)
dataset.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400     False        True
1   18  33.770         1   1725.55230      True       False
2   28  33.000         3   4449.46200      True       False
3   33  22.705         0  21984.47061      True       False
4   32  28.880         0   3866.85520      True       False

In [7]:
# Assign independent variable
independent = dataset[['age','bmi','children','sex_male','smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [8]:
# Assign dependent Variable
dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [12]:
# split train and test dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30,random_state = 0)
x_train,x_test,y_train,y_test

(      age     bmi  children  sex_male  smoker_yes
 1163   18  28.215         0     False       False
 196    39  32.800         0     False       False
 438    52  46.750         5     False       False
 183    44  26.410         0     False       False
 1298   33  27.455         2      True       False
 ...   ...     ...       ...       ...         ...
 763    27  26.030         0      True       False
 835    42  35.970         2      True       False
 1216   40  25.080         0      True       False
 559    19  35.530         0      True       False
 684    33  18.500         1     False       False

 [936 rows x 5 columns],
       age     bmi  children  sex_male  smoker_yes
 578    52  30.200         1      True       False
 610    47  29.370         1     False       False
 569    48  40.565         2      True        True
 1034   61  38.380         0      True       False
 198    51  18.050         0     False       False
 ...   ...     ...       ...       ...         ...
 1261   28  37.100         1      True       False
 494    21  25.700         4      True        True
 97     55  38.280         0      True       False
 418    64  39.160         1      True       False
 920    62  25.000         0     False       False

 [402 rows x 5 columns],
           charges
 1163   2200.83085
 196    5649.71500
 438   12592.53450
 183    7419.47790
 1298   5261.46945
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [936 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 1261   3277.16100
 494   17942.10600
 97    10226.28420
 418   14418.28040
 920   13451.12200

 [402 rows x 1 columns])

In [13]:
from sklearn.ensemble import AdaBoosterRegressor

ImportError: cannot import name 'AdaBoosterRegressor' from 'sklearn.ensemble' (C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\ensemble\__init__.py)

In [14]:
!pip install ada-boost

Collecting ada-boost
  Downloading ada_boost-0.0.1-py3-none-any.whl (1.7 kB)
Requirement already satisfied: pytz in c:\users\administrator\anaconda3\lib\site-packages (from ada-boost) (2023.3.post1)
Installing collected packages: ada-boost
Successfully installed ada-boost-0.0.1

In [16]:
# official websit adaboost regressor = https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostRegressor.html
from sklearn.ensemble import AdaBoostRegressor
regressor = AdaBoostRegressor(estimator=None, n_estimators=50, learning_rate=1.0, loss='linear', random_state=None, base_estimator='deprecated' )

In [17]:
# Model Creating
regressor.fit(x_train,y_train)

C:\Users\Administrator\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor()

In [19]:
# predict the test model
y_predict = regressor.predict(x_test)
y_predict

array([15907.82279414, 11484.38124219, 45933.38631488, 15667.71872015,
       14477.04184697,  7876.57572817,  5496.30156192, 15907.82279414,
        7876.57572817,  7876.57572817,  7876.57572817, 15907.82279414,
       11484.38124219,  7876.57572817, 20493.46326538, 15907.82279414,
       14477.04184697,  7876.57572817,  7876.57572817, 38766.49799651,
       26227.50808929, 15907.82279414, 14477.04184697, 26227.50808929,
        5496.30156192,  7876.57572817,  7876.57572817,  7876.57572817,
        7876.57572817, 11484.38124219,  7876.57572817, 47098.39429476,
       15667.71872015, 14477.04184697, 18390.77411952,  7876.57572817,
       11484.38124219, 38766.49799651, 42655.97561397,  5496.30156192,
        7876.57572817,  7876.57572817, 20493.46326538, 47098.39429476,
       38766.49799651,  5496.30156192, 15907.82279414,  7876.57572817,
        7876.57572817, 15907.82279414,  7876.57572817,  5496.30156192,
       26227.50808929, 45933.38631488, 11484.38124219,  7876.57572817,
        7876.57572817, 14477.04184697, 11484.38124219, 15907.82279414,
        5496.30156192, 47098.39429476, 15907.82279414, 15907.82279414,
       15907.82279414, 11484.38124219, 36735.39261406, 42655.97561397,
        5496.30156192,  7876.57572817, 15667.71872015, 15907.82279414,
       20493.46326538, 15667.71872015, 14477.04184697, 14477.04184697,
       11484.38124219, 11484.38124219, 20493.46326538, 47098.39429476,
       14477.04184697, 45933.38631488,  5496.30156192, 11484.38124219,
       45933.38631488, 20493.46326538, 10460.99912307,  7876.57572817,
       15907.82279414, 38766.49799651,  7876.57572817, 14477.04184697,
        8057.28425714, 11484.38124219,  7876.57572817,  7876.57572817,
       47098.39429476, 45933.38631488,  7876.57572817, 11484.38124219,
        7876.57572817,  7876.57572817,  7876.57572817, 42655.97561397,
       25644.362533  ,  7876.57572817, 14477.04184697,  7876.57572817,
       14477.04184697, 47098.39429476, 15907.82279414, 10460.99912307,
       15907.82279414, 38766.49799651, 47098.39429476,  7876.57572817,
        5496.30156192, 14477.04184697, 15907.82279414, 11484.38124219,
       45933.38631488, 14477.04184697, 15667.71872015,  7876.57572817,
       11484.38124219,  7876.57572817, 26227.50808929, 26227.50808929,
       47098.39429476,  5496.30156192, 11484.38124219,  5496.30156192,
        7876.57572817, 14477.04184697, 45933.38631488, 42655.97561397,
       23519.29710391, 15907.82279414, 26227.50808929,  7876.57572817,
        5496.30156192, 14477.04184697, 15907.82279414, 14477.04184697,
        7876.57572817, 15667.71872015, 15907.82279414,  7876.57572817,
        5496.30156192, 15907.82279414,  7876.57572817, 38766.49799651,
       15907.82279414,  5496.30156192,  5496.30156192,  7876.57572817,
        5496.30156192,  5496.30156192, 15907.82279414, 11484.38124219,
        7876.57572817, 15667.71872015, 14477.04184697, 11484.38124219,
        7876.57572817,  7876.57572817, 18390.77411952,  7876.57572817,
        7876.57572817,  5496.30156192,  7876.57572817,  7876.57572817,
       11484.38124219,  7876.57572817,  7876.57572817,  7876.57572817,
        7876.57572817,  7876.57572817, 26227.50808929,  5496.30156192,
       15907.82279414,  7876.57572817, 14477.04184697,  7876.57572817,
        7876.57572817, 26227.50808929,  5496.30156192,  5496.30156192,
       15667.71872015, 15907.82279414, 45933.38631488,  7876.57572817,
        7876.57572817, 26227.50808929,  7876.57572817,  7876.57572817,
        7876.57572817,  7876.57572817,  7876.57572817,  7876.57572817,
       15907.82279414, 47098.39429476, 15907.82279414, 20493.46326538,
        7876.57572817, 45933.38631488,  7876.57572817, 14477.04184697,
        7876.57572817,  5496.30156192, 15907.82279414, 15667.71872015,
        7876.57572817,  7876.57572817,  7876.57572817,  7876.57572817,
        7876.57572817,  7876.57572817, 15907.82279414,  7876.57572817,
        7876.57572817,  7876.57572817, 14477.04184697,  7876.57572817,
       14477.04184697, 15667.71872015, 15907.82279414, 14477.04184697,
        7876.57572817,  7876.57572817,  5496.30156192, 11484.38124219,
       14477.04184697,  5496.30156192,  7876.57572817,  7876.57572817,
       15907.82279414, 38766.49799651,  7876.57572817, 15907.82279414,
        7876.57572817, 38766.49799651,  7876.57572817, 10460.99912307,
       11484.38124219, 15907.82279414,  5496.30156192, 11484.38124219,
        5496.30156192,  7876.57572817, 20493.46326538, 47098.39429476,
        7876.57572817, 10460.99912307,  5496.30156192,  5496.30156192,
       11484.38124219,  5496.30156192,  7876.57572817,  7876.57572817,
       11484.38124219, 26227.50808929, 47098.39429476, 15907.82279414,
        7876.57572817, 11484.38124219, 38766.49799651, 11484.38124219,
       42655.97561397,  5496.30156192, 38766.49799651,  7876.57572817,
       15907.82279414,  7876.57572817, 42655.97561397,  7876.57572817,
       14477.04184697, 11484.38124219,  5496.30156192, 15907.82279414,
       14477.04184697,  7876.57572817, 14477.04184697,  5496.30156192,
        7876.57572817,  7876.57572817,  7876.57572817, 26227.50808929,
       10460.99912307,  5496.30156192,  5496.30156192, 47098.39429476,
       15907.82279414,  7876.57572817, 15907.82279414, 15907.82279414,
       38766.49799651,  7876.57572817,  7876.57572817, 14477.04184697,
        5496.30156192,  5496.30156192, 18390.77411952, 20493.46326538,
       15667.71872015,  7876.57572817,  7876.57572817, 11484.38124219,
       14477.04184697, 18390.77411952, 20493.46326538,  7876.57572817,
       20493.46326538,  5496.30156192,  8057.28425714,  7876.57572817,
       11484.38124219,  5496.30156192, 10460.99912307, 45933.38631488,
        5496.30156192,  7876.57572817,  5496.30156192, 14477.04184697,
        7876.57572817, 14477.04184697, 47098.39429476, 20493.46326538,
       15907.82279414, 45933.38631488, 15907.82279414,  7876.57572817,
       15907.82279414,  7876.57572817, 26227.50808929,  7876.57572817,
       15667.71872015,  5496.30156192, 20493.46326538,  7876.57572817,
       26227.50808929,  8057.28425714,  7876.57572817, 38766.49799651,
        7876.57572817,  7876.57572817, 26227.50808929,  5496.30156192,
       11484.38124219,  5496.30156192, 15907.82279414,  7876.57572817,
       10460.99912307,  7876.57572817, 47098.39429476, 14477.04184697,
       38766.49799651, 38766.49799651,  7876.57572817,  7876.57572817,
        5496.30156192,  7876.57572817,  5496.30156192, 15907.82279414,
       47098.39429476, 14477.04184697,  5496.30156192, 14477.04184697,
        5496.30156192, 11484.38124219,  7876.57572817,  8057.28425714,
        7876.57572817, 38766.49799651,  7876.57572817,  5496.30156192,
       42655.97561397, 15907.82279414, 45933.38631488, 14477.04184697,
        7876.57572817,  7876.57572817,  5496.30156192, 15907.82279414,
        7876.57572817,  5496.30156192, 15907.82279414,  7876.57572817,
        7876.57572817,  7876.57572817,  7876.57572817, 38766.49799651,
        5496.30156192, 14477.04184697,  5496.30156192, 10460.99912307,
       11484.38124219,  7876.57572817, 20493.46326538, 11484.38124219,
       15667.71872015, 15667.71872015])

In [21]:
# Evaluate the model
from sklearn.metrics import r2_score 
r_score = r2_score(y_test,y_predict)
r_score

0.8510548698757281